{
  "sourceMap": true,
  "moduleIds": false,
  "comments": false,
  "compact": false,
  "code": true,
  "presets": ["es2015", "es2015-node6"],
  "plugins": [
    "syntax-flow",
    "transform-decorators-legacy",
    "transform-flow-strip-types",
    "transform-class-properties",
    "transform-export-extensions"
  ]
}
